*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
#main{

}

#header{
    height: 46px;
    background-color: #000;
}
#nav{

}
#nav li{
    display: inline-block;
    position: relative;
}
#nav li a{
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}
#nav > li > a{
    text-transform: uppercase;
}
#nav > li:hover > a{
    background-color: #ccc;
    color: #000;
}

#nav li:hover .subnav{   /*important*/
    display: block;
}

#nav .subnav{
    min-width: 160px;
    display: none;
    top: 100%; /*extra*/
    left: 0; /*extra*/
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#nav .subnav li{
    width: 100%;
}
#nav .subnav a{
    color: #000;
    display: block;
    line-height: 38px;
    padding: 0 12px;
}
#nav .subnav a:hover{
    background-color: #ccc;
}

#slider{
    min-height: 500px;
    background-color: #fff;
}

#content{

}

#footer{

}